body {
  font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crimson Text', serif;
}

main {
  display: flex;
  flex-basis: 50%;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 1em auto;
}

.content {
  display: flex;
  border: solid 0.5em transparent;
  flex-direction: column;
  width: 40%;
  height: auto;
  text-align: left;
}

.title {
  /* green */
  color: #0c8716;
  font-size: 4em;
  margin: 0;
}

#noun {
  color: #747474;
}

.content-main {
  /* initially hidden with 0 opacity
   * revealed after typing animation completion
   * with a smooth transition
   */
  display: flex;
  flex-direction: column;
  flex: 1;
  opacity: 0;
  transition: opacity 1s linear;
}

.subtitle {
  color: #0c8716;
  display: inline;
  font-size: 2.5em;
}

.icon {
  width: 1.2em;
  height: auto;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
  transition: all .2s ease-in-out;
  /* adds a green filter to all icons to match page design */
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(57.6deg) brightness(0.85);
}

.icon:hover {
  /* heartbeat animation from animate.css library */
  animation: heartBeat;
  animation-duration: 2s;
}

.definition {
  font-size: 1.5em;
  margin: 10px;
}

.list > li {
  font-size: 1.3em;
}

.baffle {
  display: flex;
  color: #0c8716; 
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
}

.baffle-inner {
  color: #0c8716;
  text-align: center;
}

.portrait {
  display: flex;
  flex-direction: column;
  border: solid 0.5em transparent;
  width: 40%;
  height: auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  visibility: hidden;
}

img {
  text-align: center;
  width: 750px;
  height: auto;
}

.link {
  color: #0c8716; 
  text-decoration: none;
  font-size: 1.5em;
}

.list-link {
  /* grey */
  color: #747474;
  text-decoration: none;
}

.list-link:hover {
  color: #0c8716;
}

footer {
  text-align: center;
  opacity: 0;
  transition: opacity 1s linear;
}

.comment-header {
  font-size: 1.5em;
  color: #0c8716;
  font-weight: bold;
}

#respond {
  margin: 1em;
}

#respond input[type='text'],
#respond input[type='email'], 
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid #0c8716;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}

.submit {
  padding: 0.5em;
  color: #0c8716;
  font-weight: bold;
}

.submit:hover {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #0c8716;
}

#comment-filter {
  display: flex;
  flex-direction: row;
  margin: 1em 1em;
  justify-content: center;
  align-items: center;
}

#comment-filter-form {
  margin-left: auto;
}

#comments-list {
  list-style: none;
  margin: 1em 1em;
  border-style: solid;
  border-color: #0c8716;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

select {
  color: #0c8716;
  font-weight: bold;
  padding: 0.5em;
}

.comment {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1em 1em;

  border-radius: 10px;
  -mox-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.date {
  float: right;
}

.author {
  float: left;
  color: #747474;
  text-decoration: none;
}

.author:hover {
  color: #0c8716;
}

.comment-text {
  word-break: break-all;
}

.trash {
  width: 1.2em;
  height: auto;
  float: right;
  padding-left: 1em;
  padding-right: 1em;
}

.trash:hover {
  cursor: pointer;
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(57.6deg) brightness(0.85);
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  height: 1px;
  background-color: #0c8716;
}

#delete-button {
  margin: 1em 1em;
  font-weight: bold;
  padding: 0.5em;
  color: #0c8716;
}

#delete-button:hover {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #0c8716;
}

#home {
  text-decoration: none;
  color: #747474;
  font-size: 1em;
}

#home:hover {
  color: #0c8716;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  main {   
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
  }

  .content {
    width: 80%;
    margin: 0 auto;
  }

  .portrait {
    width: 80%;
    margin: 0 auto;
  }
}
